.navbar, #header {
  border-radius: 10px;
  background-color: #0088CC;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.nav-link {
  color: #FFF;
}

  .nav-link:hover {
    color: #F8F8F8;
  }

.link-active .nav-link {
  font-weight: bold;
}

@media (max-width: 767px) {
  .navbar-collapse {
    background-color: #0088CC;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .navbar-toggler {
    background-color: #FFF;
  }
}
