<div class="simple-container">
  <div class="map">
    <div class="menu-top rounded">
      <button (click)="MenuShow()" class="btn btn-primary rounded">Прокласти маршрут</button>
      <button (click)="buildRoadByPoint()" class="btn btn-primary rounded">Побудувати по точкам</button>
    </div>

    <div [style]="style" class="menu rounded">
      <div class="menu-content">
        <input #mapSearch class="form-control rounded" placeholder="Введіть початкову точку"/>
        <input #mapSearch2 class="form-control rounded" placeholder="Введіть кінцеву точку"/>
      </div>
    </div>

    <google-map height="75vh"
                width="100%"
                [options]="options"
                [center]="center"
                [zoom]="zoom"
                (mapClick)="addMarker($event)">
      <map-marker *ngFor="let marker of markers"
                  [options]="marker"></map-marker>
      <map-directions-renderer *ngIf="(directionsResults$ | async) as directionsResults"
                               [directions]="directionsResults"></map-directions-renderer>
    </google-map>
    <!--<button (click)="Set()" class="btn btn-primary rounded">Coordinate change</button>-->
  </div>
</div>
